{% extends 'base.html' %}
{% load static %}

{% block header %}

{% endblock header %}

{% block css %}
    
{% endblock css %}
    


{% block body %}
{% load static %}

<!-- Content -->
<div class="page-content">
            
    <!-- Banner Area -->
    <div class="aon-page-benner-area">
      <div class="aon-page-banner-row">
         <div class="aon-page-benner-overlay" ></div>
         <div class="sf-banner-heading-wrap">
           <div class="sf-banner-heading-area">
             <div class="sf-banner-heading-large">Latest Blogs</div>
             <div class="sf-banner-breadcrumbs-nav">
               <ul class="list-inline">
                 <li><a href="{% url 'home:home' %}"> Home </a></li>
                 <li><a href="">Blogs</a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
     <!-- Banner Area End -->
     
     <!-- Left & right section -->
     <div class="aon-page-jobs-wrap">
         <div class="container">
             <div class="row">
  
                 
  
                 <!-- Left part start -->
                 <div class="col-lg-12">
                                               
  
                  <div class="row">
                    <!-- COLUMNS 1 -->
                    {% for blog in page_obj %}
                    {% if blog.status %}
                    <div class="col-lg-4 col-md-12">
                        <div class="aon-blog-style-1">
                            <div class="post-bx">
                                <!-- Content section for blogs start -->
                                <div class="post-thum"> 
                                    <img title="title" alt="" src="{{blog.blog_banner_lg.url}}">
                                </div>
                                <div class="post-info">
                                    <div class="post-categories"><a href="#">{{blog.category}}</a></div>
                                    <div class="post-meta">
                                        <ul>
                                            <li class="post-date"><span>{{blog.published}}</span></li>
                                            <li class="post-author">By
                                                <a href="#" title="Posts by admin" rel="author">{{blog.author}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="post-text">
                                        <h4 class="post-title cool">
                                            <a href="{% url 'home:blogsd' blog.slug %}">{{blog.title}}</a>
                                        </h4>
                                    </div>
                                    <div class="post-read-more">
                                        <a href="{% url 'home:blogsd' blog.slug %}" class="site-button-link">Read More</a>
                                    </div>                                                
                                </div>
                                <!-- Content section for blogs end -->
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                    <div class="site-pagination s-p-center">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </li>
                            {% endif %}
                    
                            {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ num }} <span class="sr-only">(current)</span></a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                    
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    
                </div>
                                               
  
                 </div>
                 <!-- Left part END --> 
                 
  
             </div>
         </div>
     </div> 
     <!-- Left & right section  END --> 
     
    
  </div>
  <!-- Content END-->
{% endblock body %}
    


{% block js %}

{% endblock js %}
    