{% extends 'base.html' %}
{% load static %}

{% block header %}

{% endblock header %}

{% block css %}
    
{% endblock css %}
    


{% block body %}
{% load static %}

<!-- Content -->
<div class="page-content">
            
    <!-- Banner Area -->
    <div class="aon-page-benner-area">
      <div class="aon-page-banner-row">
         <div class="aon-page-benner-overlay" ></div>
         <div class="sf-banner-heading-wrap">
           <div class="sf-banner-heading-area">
             <div class="sf-banner-heading-large">Latest Blogs</div>
             <div class="sf-banner-breadcrumbs-nav">
               <ul class="list-inline">
                 <li><a href="{% url 'home:home' %}"> Home </a></li>
                 <li><a href="{% url 'home:blogs' %}">Blogs</a></li>
                 <li><a href="">{{blog.h1}}</a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
     <!-- Banner Area End -->
     
     <div class="aon-page-jobs-wrap">
        <div class="container">
            <div class="row">

                

                <!-- Left part start -->
                <div class="col-lg-8">
                  
                    <div class="sf-post-detail">

                        <div class="post blog-post blog-detail">
                          <div class="post-bx">
                              <!-- Content section for blogs start -->
                              <div class="post-thum"> 
                                <img title="title" alt="" src={{blog.blog_banner_sm.url}}>
                              </div>
                              <div class="post-info pt-4">
                                <div class="post-meta sf-icon-post-meta">
                                  <ul>
                                    <li class="post-author"><i class="feather-user"></i>By
                                      <a href="#" title="" rel="">{{blog.author}}</a>
                                    </li>
                                    
                                    
                                    
                                  </ul>
                                </div>
                                                                      
                                <div class="post-text">
                                  <h3 class="post-title mb-3 cool">
                                      <a href="#">{{blog.h1}}</a>
                                  </h3>
                                    
                                    
                                  <p>{{blog.content|safe}}</p>
                                  
                                    
                                    
                                <div class="row pt-4 pb-2">
                                  <div class="col-lg-5 col-md-6 mb-5"><img src={{blog.blog_banner_lg.url}} alt=""></div>
                                </div>

                                  
                                    
                                 <div class="sf-post-tags sf-post-tags2">
                                    <h4>Popular Tags</h4>
                                    <ul>
                                        {% for tag in tags %}
                                            <li class="cool"><a href="#">{{ tag }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                
                                    
                                    

                                </div>
                                
                              </div>
                              <!-- Content section for blogs end -->
                          </div>
                        </div>
                        <!-- Comment section for blogs start -->
                        
                        <!-- Comment section for blogs start -->
                        
                    </div>
                                         
                    
                </div>
                <!-- Left part END -->   
                
                <!-- Side bar start -->
                <div class="col-lg-4">

                    <aside class="side-bar ">
                            
                        <!-- SEARCH -->
                        

                        <!-- RECENT POSTS -->
                       

                        <!-- CATEGORY -->   
                        <div class="widget widget_services rounded-sidebar-widget">
                            <div class="text-left m-b30">
                                <h3 class="widget-title">Categories</h3>
                            </div>
                            <ul>
                                {% for category in cata %}
                                    <li><a href="#">{{ category }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>   
                         

                         
                     
                                                                    
                                                                 
                  
                                                                 
                   
                    </aside>

                </div>
                <!-- Side bar END -->

            </div>
        </div>
    </div>
    
  </div>
  <!-- Content END-->
{% endblock body %}
    


{% block js %}

{% endblock js %}
    