{% extends 'base.html' %}
{% load static %}

{% block header %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock header %}

{% block css %}
    
{% endblock css %}
    

{% block body %}
{% load static %}

<!-- Content -->
<div class="page-content">
            
    <!-- Banner Area -->
    <div class="aon-page-benner-area">
      <div class="aon-page-banner-row">
         <div class="aon-page-benner-overlay" ></div>
         <div class="sf-banner-heading-wrap">
           <div class="sf-banner-heading-area">
             <div class="sf-banner-heading-large">Contact Us</div>
             <div class="sf-banner-breadcrumbs-nav">
               <ul class="list-inline">
                 <li><a href="{% url 'home:home' %}"> Home </a></li>
                 <li><a href="">Get In Touch</a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
     <!-- Banner Area End -->
     
     <div class="section-full p-t80 sf-contact-form3-map">
        <div class="container">
            <div class="sf-map2-wrap grayscle-area">
               <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3719.3013141209294!2d72.847831!3d21.219897!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04ef120e021eb%3A0x38b0e81455dedbe7!2sAdvance%20Dental%20Export!5e0!3m2!1sen!2sin!4v1718967811903!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
     
    <div class="section-full p-t80 p-b90 sf-contact-form3-area">
        <div class="container">
        
            <div class="sf-contact-form3-wrap">
                <div class="sf-con-form-title text-center">
                    <h1 class="m-b30"><span class="cool">Contact Information</span></h1>
                </div>
                <!--Contact Information-->  
                    <div class="sf-contact-form3 shadow">
    <form class="contact-form" action="{% url 'home:contact' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <!-- Columns 1 -->
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Name" class="form-control" required="">
                </div>
            </div>
            <!-- Columns 2 -->
            <div class="col-md-6">
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" class="form-control" required="">
                </div>
            </div>
            <!-- Columns 3 -->
            <div class="col-md-6">
                <div class="form-group">
                    <input type="number" name="phone" placeholder="Phone" class="form-control">
                </div>
            </div>
            <!-- Columns 4 -->
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="subject" placeholder="Subject" class="form-control" required="">
                </div>
            </div>
            <!-- Columns 5 -->
            <div class="col-md-12">
                <div class="form-group">
                    <textarea name="message" placeholder="Message" class="form-control" rows="4" required=""></textarea>
                </div>
            </div>
            <div class="sf-contact-submit-btn text-center">
                <button class="site-button bat" type="submit">Submit</button>
            </div>
            <div class="col-md-12">
                <!-- Google reCAPTCHA -->
                <!-- Add your reCAPTCHA code here -->
            </div>
        </div>
    </form>
</div>

                
                <!--Contact Information End-->
            </div>  

        </div>
        
    </div>
    
    <div class="aon-contact2-area">
        <div class="container">

          <div class="section-content">
                
              <div class="row">
                  <!--Left Section-->
                  <div class="col-lg-6">
                      <div class="aon-contact-2-pic">
                          <img src="{% static 'images/large-pic3.png' %}" alt="">
                      </div>
                  </div>
                  <!--Right Section-->
                    <div class="col-lg-6">
                      <div class="aon-contact-2-info-content">
                        
                        <div class="aon-contact-2-info-wrap">
                            
                            <!--<div class="sf-contact-2-info-box">-->
                            <!--    <div class="sf-contact-2-icon">-->
                            <!--        <span><img src="{% static 'mai.png' %}" alt=""></span>-->
                            <!--    </div>-->
                            <!--    <div class="sf-contact-2-info">-->
                            <!--        <h4 class="sf-title cool">Mailing Address</h4>-->
                            <!--        <p class="cool">Plot No. 1 to 8, Marutidham Industrial Estate, Behind Hotel Royal,Velanja Road, Umra, Surat - 394 130. (Gujarat) INDIA</p>-->
                            <!--    </div>-->
                            <!--</div>-->

                            <div class="sf-contact-2-info-box">
                                <div class="sf-contact-2-icon">
                                    <span><img src="{% static 'lol.png' %}" alt=""></span>
                                </div>
                                <div class="sf-contact-2-info">
                                    <h4 class="sf-title"><span class="cool">Address</span></h4>
                                    <p><a href="mailto:info@advancedentalexport.com">Plot No. 1 to 8, Marutidham Industrial Estate, Behind Hotel Royal,
Velanja Road, Umra, Surat - 394 130. (Gujarat) INDIA</a></p>
                                </div>
                            </div>
                            
                            <div class="sf-contact-2-info-box">
                                <div class="sf-contact-2-icon">
                                    <span><img src="{% static 'emm.png' %}" alt=""></span>
                                </div>
                                <div class="sf-contact-2-info">
                                    <h4 class="sf-title cool">Email Info</h4>
                                    <p><a href="mailto:usd@gmail.com">usd@gmail.com
</a></p>
                                </div>
                            </div>

                            <div class="sf-contact-2-info-box">
                                <div class="sf-contact-2-icon">
                                    <span><img src="{% static 'cal.png' %}" alt=""></span>
                                </div>
                                <div class="sf-contact-2-info">
                                    <h4 class="sf-title cool">Phone Number</h4>
                                    <p><a href="tel:+918488888877">+91 84 88 88 88 77
                                    <p><a href="tel:+918469888877">+91 84 69 88 88 77</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                      
                  </div>
              </div>    
                       
          </div>
  
        </div>
    </div>
  </div>
  <!-- Content END-->
{% endblock body %}
    


{% block js %}

<script>
        // Function to display SweetAlert based on Django messages
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    position: "top-end",
                    icon: "{% if message.tags == 'success' %}success{% else %}error{% endif %}",
                    title: "{{ message }}",
                    showConfirmButton: false,
                    timer: 1500
                });
            {% endfor %}
        {% endif %}
    </script>

{% endblock js %}
    