  <!-- Doctor about -->
  <div class="aon-doctorReview-wrap d-flex">

    <div class="aon-doctorReview-left">

        <div class="aon-doctorTotal-rating">
            <div class="aon-docRating-title">Overall rating</div>
            <div class="aon-docRating-num">4.83</div>
            <div class="aon-docRating-rating">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star text-gray-dark"></span>
            </div>
            <div class="aon-docRating-total">690 reviews</div>
        </div>
    </div>


    <div class="aon-doctorReview-right">
        <h3>Recent reviews</h3>
        <!-- Award List-->
        <ul class="aon-docReview-list">
            <li>
                <p>Very professional but easy to talk to. He clearly laid out the issue I was facing and the steps to fix it. Most importantly, I did not feel judged when...<a href="#" class="aon-docReview-more">show more</a></p>
                <div class="aon-docReview-meta">Initials hidden  |  July 27, 2022</div>
            </li>
            <li>
                <p>Very professional but easy to talk to. He clearly laid out the issue I was facing and the steps to fix it. Most importantly, I did not feel judged when...<a href="#" class="aon-docReview-more">show more</a></p>
                <div class="aon-docReview-meta">Initials hidden  |  July 27, 2022</div>
            </li>
        </ul>
        <!-- Award List End-->
        <button class="site-button">Read More Reviews</button>
    </div>

</div>
<!-- Doctor about Endf--> 

  <!--Patient Exp Info-->
  <div class="aon-docPexpi-wrap" id="aon-reviews-area">
    <h3 class="mb-4">Patient Experience</h3>
    <div class="sf-patient-exp-list">
    <ul>
        <li>
        <div class="sf-patient-exp-body">
        <img src="{% static 'images/patients/pic1.png' %}" alt="#">
        <div class="sf-patient-exp-head">
        <div class="sf-pat-left">
        <span class="sf-patient-exp-name"> Matthew Reyes </span>
        <div class="sf-medi-rate">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-half-full"></span>
            <span class="sf-rating-lable">(4/5)</span>
        </div>
        </div>
        <span class="sf-patient-exp-date">07 March</span>
        </div>
        <p>"It is a long established fact that a reader will be distracted by the readable content 
        of a page when looking at its layout."</p>
        </div>
        </li>
        <li>
        <div class="sf-patient-exp-body">
        <img src="{% static 'images/patients/pic2.png' %}" alt="#">
        <div class="sf-patient-exp-head">
        <div class="sf-pat-left">
        <span class="sf-patient-exp-name"> Matthew Reyes </span>
        <div class="sf-medi-rate">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-half-full"></span>
            <span class="sf-rating-lable">(4/5)</span>
        </div>
        </div>
        <span class="sf-patient-exp-date">07 March</span>
        </div>
        <p>"It is a long established fact that a reader will be distracted by the readable content 
        of a page when looking at its layout."</p>
        </div>
        </li>
        
    </ul>
    </div>
</div>                            
