{% extends 'base2.html' %}
{% load static %}

{% block header %}

{% endblock header %}

{% block css %}
    
{% endblock css %}
    


{% block body %}
   
<!-- LOADING AREA START ===== -->
<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="cssload-wrap">
            <div class="cssload-container">
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
            <span class="cssload-dots"></span>
        </div>
        </div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->

	<div class="page-wraper cus-account-wrap">
    
        <header id="header-admin-wrap" class="header-admin-fixed">
        
            <!-- Header Start -->
            <div id="header-admin">
                <div class="container">
                    
                    <!-- Left Side Content -->
                    <div class="header-left">
                        <div class="cus-account-logo">
                            <a href="{% url 'home:home' %}">
                                <img src="{% static 'logo.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- Left Side Content End -->
                    
                    <!-- Right Side Content -->
                    <div class="header-right">
                        
                        <ul class="header-widget-wrap">
                            
                            <li class="header-widget">
                                <div class="aon-admin-messange sf-toogle-btn">
                                    <span class="feather-user-pic"><img src="{% static 'images/user.jpg' %}" alt=""/></span>
                                </div>
                                <div class="ws-toggle-popup popup-tabs-wrap-section user-welcome-area">
                                    <div class="popup-tabs-head d-flex justify-content-between align-items-center">
                                        <div class="popup-tabHead-left"><h5 class="m-a0">David Wood</h5></div>
                                    </div>
                                    <ul class="user-welcome-list">
                                        <li><a href="#"><i class="feather-sliders"></i> Dashboard</a></li>
                                     
                                        <li><a href="#"><i class="feather-settings"></i> Profile</a></li>
                                        <li><a href="#"><i class="feather-log-out"></i> Log Out</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Right Side Content End -->
        
                </div>
            </div>
            <!-- Header End -->
        
        </header>
        
        
    	
        <!-- Page Content Holder -->
        <div id="content">
            
            <div class="cus-top-nav">
                
                <div class="container">
    
                    <ul class="cus-nav row">
                        <li class="col "><a href="{% url 'account:customer' %}">Appointments</a></li>
                        <li class="col "><a href="{% url 'account:patient_review' %}">My Feedback</a></li>
                        <li class="col"><a href="{% url 'account:patient_profile' %}">View/Edit Profile</a></li>
                        <li class="col active"><a href="{% url 'account:patient_password' %}">Change Password</a></li>
                    </ul>
                </div>
                    
            </div>
            <div class="content-admin-main">
                
            	<div class="aon-admin-heading">
                	<h3>Change Password</h3>
                </div>  
                
                <div class="card aon-card cus-chan-pass-wrap">
                    <div class="card-body aon-card-body">
                        <div class="cus-chan-pass-form">
                            <div class="form-group">
                                <label>Current Password</label>
                                <div class="aon-inputicon-box"> 
                                    <input class="form-control sf-form-control" name="company_name" type="text">
                                    <i class="aon-input-icon fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <div class="aon-inputicon-box"> 
                                    <input class="form-control sf-form-control" name="company_name" type="text">
                                    <i class="aon-input-icon fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Confirm  Password</label>
                                <div class="aon-inputicon-box"> 
                                    <input class="form-control sf-form-control" name="company_name" type="text">
                                    <i class="aon-input-icon fa fa-lock"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <div class="aon-admin-footer d-flex justify-content-between align-items-center">
                    <div class="aon-admin-footer-left">
                        <div class="alert alert-success" role="alert">This is a success alert—check it out!</div>
                    </div>
                    <div class="aon-admin-footer-right">
                        <button class="admin-button m-r10">Cancel</button>
                        <button class="admin-button">Save</button>
                    </div>
                </div>
 
            </div>


        </div>
            
    	</div>

 </div>       


{% endblock body %}
    


{% block js %}

{% endblock js %}
    